.display-daripada {
    color: black;
    font-size: 45px;
    /* font-family: MADE Tommy Soft; */
    font-weight: 900;
    word-wrap: break-word
}

.custom-hr {
    border-color: #0355B0;
    /* Use !important to override Bootstrap styles */

}

/* Style for the container */
.hr-container {
    position: relative;
    width: 100%;
    height: 1.5px;
    /* Set the height of the HR line */
    background-color: lightgray;
    /* Background color for the entire HR line */
}

/* Style for the left half */
.hr-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 300%;
    transform: translateY(-50%);
    /* Move the left half left by 50% */
    background-color: #007bff;
    /* Color for the left half */
}

.hr-middle {
    position: absolute;
    top: 0;
    left: 42%;
    width: 18%;
    height: 300%;
    transform: translateY(-50%);
    background-color: #007bff;
    /* Color for the middle portion */
}

.hr-left1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #007bff;
    /* Color for the left half */
}

.hr-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #007bff;
    /* Color for the right half */
}

.hr-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    /* Width of the left border */
    height: 100%;
    background-color: #007bff;
    /* Color of the left border */
}


.community-text {
    display: flex;
    flex-direction: column;

}

.community-text a {
    text-decoration: none;
    color: #000;
    /* Default text color */
    transition: color 0.3s;
    /* Smooth color transition */
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.community-text a:hover {
    color: #0355B0;
    font-size: 16px;
    /* font-family: MADE Tommy Soft; */
    font-weight: 500;
    word-wrap: break-word
        /* Change text color on hover */
}

.article-title {
    color: #595959;
    font-size: 16px;
    /* font-family: MADE Tommy Soft; */
    font-weight: 400;
    word-wrap: break-word;
    text-align: justify;
}

.article-title1 {
    color: black;
    font-size: 16px;
    /* font-family: MADE Tommy Soft; */
    font-weight: 500;
    word-wrap: break-word
}

.article-title2 {
    color: black;
    font-size: 16px;
    /* font-family: MADE Tommy Soft; */
    font-weight: 500;
    word-wrap: break-word
}