

.circlebg{
    background-image: url('../images/homepage/ellipse.png'); 
    /* height: 550px; */
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: right; 
    /* min-height:50px; */
}
 
.t1{
    /* font-weight: bold;  */
    color: #000000;
   font-size:24px;
   text-align:left;

}

.t2{
   color: #000000;
   font-size:40px;
   text-align: justify;
}
.circle2bg{
    background-image: url('../images/homepage/Subtract-1.png'); 
    background-size: auto; 
    background-repeat: no-repeat; 
    /* min-height: 300px; */
    
    
   
}


/* nav bar css */
.teachernav{
   font-size: 30px; 
   font-weight: bold;
   
}

.text-head{
    
    font-size: 24px; 
    padding-right:50px; 
    color: #000000;

}
.circular-card1 {
    width: 650px;
    height:400px;
    border-radius: 50%;
    background-color: #FFF0DD;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: transform 0.3s;
    /* Add transition for smooth zoom effect */

}

.headtitle1{
    color: #000000;
     font-size:24px
}

.h1_title{
    font-size: 32px; 
    font-weight:bold; 
    color: #000000;
}
.p_style{
font-size: 24px;
 padding-right:50px; 
 color: #000000;
}


/* Add hover effect to zoom in */
.circular-card1:hover {
    transform: scale(1.2);
    /* Increase the scale on hover (zoom in) */
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .circular-card1 {
        width: 600px;
        min-height:400px;
        border-radius: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1100px) {
    .circular-card1 {
        width: 320px;
        height: 320px;
        margin: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .circular-card1 {
        width: 550px;
        height: 550px;
        margin: 20px;

    }
}

@media (max-width: 767px) {
    .circular-card1 {
        width: 550px;
        height: 550px;
        margin: 10px;
    }
}

@media (max-width: 580px) {
    .circular-card1 {
        width: 320px;
        height: 320px;
        margin: 10px;
    }
}

